[submodule "gym-zelda-1"]
	path = gym-zelda-1
	url = https://github.com/Kautenja/gym-zelda-1
[submodule "nesgym"]
	path = nesgym
	url = https://github.com/codescv/nesgym
[submodule "stable-retro"]
	path = stable-retro
	url = https://github.com/Farama-Foundation/stable-retro
[submodule "stable-baselines3"]
	path = stable-baselines3
	url = https://github.com/DLR-RM/stable-baselines3
[submodule "stable-baselines3-contrib"]
	path = stable-baselines3-contrib
	url = https://github.com/Stable-Baselines-Team/stable-baselines3-contrib
